<%- include("../partials/header.ejs") %>

<div class="comics-container mt-5">
  <% collection.forEach((comic) => { %>
  <div class="card mb-2 is-flex is-flex-direction-column">
    <div class="card-image">
      <figure class="image is-319x491 is-align-content-center">
        <img
          src="<%= comic.thumbnail_url %>"
          alt="<%= comic.title %> issue cover"
        />
      </figure>
    </div>
    <div class="card-content is-flex is-flex-grow-1 is-flex-direction-column is-justify-content-space-between">
      <div class="media">
        <div class="media-content">
          <p class="title is-4"><%= comic.title %></p>
          <p class="subtitle is-6"><%= comic.series %></p>
        </div>
      </div>

      <div class="content is-flex is-flex-direction-column">
        <a href="<%= comic.marvel_url %>" class="button is-small mb-2">
          View on Marvel.com
        </a>
        <form
          method="POST"
          action="/users/<%= user.username %>/collection?_method=DELETE"
        >
          <input
            type="text"
            name="id"
            id="id"
            value="<%= comic.id %>"
            required
            hidden
          />
          <button type="submit" class="button is-small is-danger">
            Remove from collection
          </button>
        </form>
      </div>
    </div>
  </div>
  <% }) %>
</div>
<%- include("../partials/footer.ejs") %>
