<%- include("../partials/header.ejs") %>

<h2>search results</h2>

<% if (series) { %>
<p>Search results for <%= series %></p>

<% } if (comics.length > 0) { %>
  <% comics.forEach((comic) => { %>
    <div class="comic-search-result">
      <p> <%= comic.title %> </p>
      <a href="<%= comic.urls[0].url %>">view on marvel.com</a>
      <img src="<%= comic.thumbnail.path %>.<%= comic.thumbnail.extension %>" alt="">
    </div>
  <% }) %>
<% } else { %>
    <p>No results found.  Please try another search.</p>
<% } %>

<%- include("../partials/footer.ejs") %>
