<%- include("../../partials/header.ejs") %>

<% if (series.length > 0) { %> <% series.forEach((series) => { %>
<div class="series-search-result">
  <p><%= series.title %></p>
  <a href="<%= series.urls[0].url %>">view on marvel.com</a>
  <img
    src="<%= series.thumbnail.path %>.<%= series.thumbnail.extension %>"
    alt=""
  />
  <% if (user) { %>
  <form method="POST" action="/users/<%= user.username %>/pull_list">
    <input
      type="text"
      name="id"
      id="id"
      value="<%= series.id %>"
      required
      hidden
    />
    <input
      type="text"
      name="title"
      id="title"
      value="<%= series.title %>"
      required
      hidden
    />
    <input
      type="text"
      name="thumbnail_url"
      id="thumbnail_url"
      value="<%= series.thumbnail.path %>.<%= series.thumbnail.extension %>"
      required
      hidden
    />
    <input
      type="text"
      name="marvel_url"
      id="marvel_url"
      value="<%= series.urls[0].url %>"
      required
      hidden
    />
    <button type="submit">Add to my pull list</button>
  </form>
  <% } %>
</div>
<% }) %>

<% } else { %>
  <div class="columns is-flex is-justify-content-center mt-5">
    <div class="column is-one-third">
      <div class="message is-warning">
        <div class="message-header">
          <p>No results</p>
        </div>
        <div class="message-body">No results found for "<%= query %>". Please try another search.</div>
      </div>
    </div>
  </div>
<% } %>

<%- include("../../partials/footer.ejs") %>
